<div class="top-wrap">
  <a href="/admin/">Admin Page</a>
  <a href="/admin/banners">Banner Settings</a>
  <a href="/admin/blog">Blog Settings</a>
  <a href="/admin/contact">Contact Settings</a>
  <a href="/admin/custom">Custom Settings</a>
  <a href="/admin/intro">Introduction Settings</a>
  <a href="/admin/msg">Message Settings</a>
  <a href="/admin/news">News Settings</a>
</div>
