<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Main</title>
  </head>
  <body>
    <div class="page">
      <% include components/top.admin.ejs %>
      <div class="content-wrap">
        <h1>This is admin main page</h1>
      </div>
    </div>
  </body>
</html>
