<!DOCTYPE html>
<html>
<head>
	<title>Blog Front Sample Page</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="js/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="js/slick-carousel/slick/slick.css">
	 <link rel="stylesheet" href="js/slick-carousel/slick/slick-theme.css">

	<script src="js/jquery/dist/jquery.js"></script>
	<script src="js/bootstrap/dist/js/bootstrap.js"></script>
	<script src="js/angular/angular.js"></script>
	<script src="js/slick-carousel/slick/slick.js"></script>
    <script src="js/angular-slick-carousel/dist/angular-slick.min.js"></script>
</head>

<body ng-app="app" ng-controller="indexController">

	<nav class="navbar navbar-default navbar-static-top">
	  <div class="container">
	    <ul class="nav nav-tabs nav-justified">
		  <li role="presentation" class="active"><a href="#">Home</a></li>
		  <li role="presentation"><a href="#">Profile</a></li>
		  <li role="presentation"><a href="#">Messages</a></li>
		</ul>
	  </div>
	</nav>
	
	<script type="text/ng-template" id="tpl.html">
        <h3>{{ banner.description }}</h3>
        <div><img width=100%; height="100%" ng-src="{{banner.href}}" alt="{{banner.title}}"></div>
    </script>

    <slick settings="slickConfig" ng-if="numberLoaded">
        <div ng-repeat="banner in banners">
            <div class="" ng-include="'tpl.html'"></div>
        </div>
    </slick>
    <button ng-click="toggleSlick()">Show-All Or Slide-More</button>

	<div class="media" ng-repeat="custom in customs">
	  <div class="media-left media-middle">
	    <a href="#">
	      <img width="64px" height="64px" class="media-object" ng-src="upload/{{custom.src}}" alt="{{custom.title}}">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">{{custom.title}}</h4>
	    {{custom.description}}
	  </div>
	</div>


	<script>
		
		angular.module('app', ['slickCarousel'])
			.controller('indexController', ['$scope', '$http', function($scope, $http) {

				$http.get('/get_banners').then(function(res) {
					// alert('success: ' + res.data);
					$scope.banners = res.data;

					for (var i = 0; i < $scope.banners.length; i++) {

						$scope.banners[i].hide = true;
					}
					$scope.banners[0].hide = false;

				    $scope.numberLoaded = true;
				    $scope.numberUpdate = function(){
				        $scope.numberLoaded = false; // disable slick

				        //number update

				        $scope.numberLoaded = true; // enable slick
				    };

				    $scope.slickConfig = {
				        enabled: true,
				    }
				    $scope.toggleSlick = function() {
				      $scope.slickConfig.enabled = !$scope.slickConfig.enabled;
				    }


				}, function() {
					alert('get data fail');
				});

				$http.get('/get_custom_evaluations').then(function(res) {

					$scope.customs = res.data;

				}, function() {
					alert('get data fail');
				});

			}]);

	</script>
</body>
</html>
























